p {
    font-family: Montserrat;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.ad-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ad-description {
    font-size: 24px;
}

.delivery {
    text-decoration-line: underline;
}